header
  navbar.navbar.navbar-expand-md
    div.container-fluid
      a.navbar-brand(href="#").ps-2 LOGO
      button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false")
        span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarNav
      ul.navbar-nav.me-auto.mb-2.mb-lg-0.pe-3
        li.nav-item
          a.nav-link(href="#") GitHub
        li.nav-item
          a.nav-link(href="#") LinkedIn
