extends layout.pug

block content
  main
    h1.text-white.text-center.pb-3 Changelog
    section.container.pt-5.h-50.d-flex.align-items-center.flex-column.view__container
      div.d-flex.justify-content-center.btn-group(role="group").z-0.view__buttons
        button.btn.bg-dark Recentes
        button.btn.btn-outline-secondary Todas
      include includes/product.pug
